body{
	font-family: 'lato';
	color: #111;
	position: relative;
	overflow-x: hidden;
}

.vertical-align{
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

#home {
	
	background: url(../images/header-background1.jpg) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 700px;
	
}
#home h1{
	font-size: 3em;
font-weight: 900;
}
#home .learn-more{
	color: #fff;
	font-size: 30px;
	position: absolute;
}

.learn-more .fa{
	position: absolute;
}
.learn-more .second-arrow{
	 top:8px;
}.learn-more .third-arrow{
	 top:16px;
}

#nav{
		margin-top: 50px;
		height: 150px;
}
#nav div{
	margin: 20px 0;
	font-weight: 900;
	font-size: 1.5em;
}
#about {
	
	background: url(../images/about-background.jpg) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	
}
#about p{
	margin-bottom: 50px;
}
#courses {
	margin:50px 0;
}
#courses img{
	height: 30px;
}
#courses h2{
	font-weight: 900;
}
.course-list{
	text-align: left;
}
.course-list a{
	text-decoration: none;
}
#courses hr{
	margin-right: 30%;
}

#footer{
	background: url(../images/footerbg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 50px 0;

}
#footer li{
	display: inline-block;
}
#footer ul a{
	font-size: 40px;
	color: #111;
	padding: 0 10px;
}