body{
	font-family: 'lato';
	color: #111;
	position: relative;
	overflow-x: hidden;
}

.vertical-align{
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

#home {
	
	/*background: url(../images/header-background1.jpg) fixed;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 700px;
	
}
.shadow {
    text-shadow: 1px 1px #aabbff;
}
#home h1{
	font-size: 4em;
font-weight: 900;
color: #000;
}
#home h3 {
	font-size: 3em;
font-weight: 300;
color: #000;
}

i {
	color: #000;
}

a { 
text-decoration: none;
 }
 a:hover:not(.learn-more) {
 	text-decoration: none;
 	position: relative;
  left: 1px;
  top: -1px;
  text-shadow: 1.5px 1.5px #ddd;
  }


#home .learn-more{
	color: #fff;
	font-size: 30px;
	position: absolute;
}

.learn-more .fa{
	position: absolute;
}
.learn-more .second-arrow{
	 top:8px;
}.learn-more .third-arrow{
	 top:16px;
}

#nav{
		margin: 110px 0 80px 0;
		height: 150px;
}
#nav div{
	margin: 20px 0;
	font-weight: 900;
	font-size: 1.5em;
}
.navText {
	font-weight: 300;
	font-size: .7em;
}
#about {
	
	/*background: url(../images/about-background.jpg) fixed;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	
}
#about h2{
	font-weight: 900;
}
#about p{
	margin-bottom: 50px;
	font-size: 15px;
}
#courses {
	margin:50px 0;
}
#courses img{
	height: 30px;
}
#courses h2{
	font-weight: 900;
}
.course-list{
	text-align: left;
}


#courses hr{
	margin-right: 30%;
}
#services {
	width: 80%;
	display: inline-block;
}
#services h2{
	font-weight: 900;
}
#footer{
	background: url(../images/footerbg.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 50px 0;

}

#footer h1 {
	padding-left: 50px;
}
#footer li{
	display: inline-block;
}
#footer ul a {
	font-size: 40px;
	color: #111;
	padding: 0 10px;
}

.logo {
	color: #111;
}
#footerNav {
   
   position:fixed;
   right:0px;
   bottom:30px;
   height:25px;
   width:100px;
   background-color:rgba(255,255,255,0.3);
   border-radius: 10px 0 0 10px;
   padding-top: 3px;
}
#footerNav a {
	color:black;
}
p#description {
	display: inline-block;
	width: 60%;
}